# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Other things
bind_*_*.go # bindings are massive text go source docs, they break git. and vim.
.DS_Store # .DS_Store is how macOS Spotlight indexes files, but they still show up on git so.
/build # built apps and executables.

